.advertising-img {
    width: 100%;
}

/* 品牌简介 */
.brand-intro, 
.brand-progress {
    padding: 0.35rem 0.12rem;
}

.brand-intro-info {
    overflow: hidden;
}

.brand-intro-text {
    margin-top: 0.2rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.24rem;
    text-indent: 0.24rem;
    color: #262626;
}

.brand-videoBox {
    position: relative;
    margin-top: 0.2rem;
    width: 100%;
    height: 2.25rem;

}

#brand-video {
    width: 100%;
    height: 100%;
}

.video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
}

/* 发展历程 */
.brand-progress {
    background-image: url(../imgs/progress_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.brand-progress-listBox {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 0.2rem;
    padding: 0 0.35rem;
    max-height: 450px;
}

.brand-progress-list {
    padding: 0.3rem 0 0.11rem 0;
    background-image: url(../imgs/20-892.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0.1rem 100%;
}

.brand-progress-listBox::-webkit-scrollbar {
    background-color: transparent;
}

.brand-progress-listItem {
    position: relative;
    padding-left: 0.32rem;
}

.brand-progress-listItemIcon {
    position: absolute;
    top: -0.08rem;
    left: -0.08rem;
    width: 0.26rem;
    height: 0.26rem;
    object-fit: contain;
}

.brand-progress-listItemTitle {
    font-size: 0.18rem;
    font-family: Source Han Sans CN;
    font-weight: 800;
    line-height: 0.12rem;
    color: #DA3021;
}

.brand-progress-listItemText {
    margin-top: 0.1rem;
    font-size: 0.13rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.23rem;
    color: #404040;
}

.brand-progress-listItem:nth-child(n + 2) {
    margin-top: 0.25rem;
}

/* 企业文化 */
.company-culture {
    padding: 0.35rem 0.13rem;
}

.company-culture-list {
    margin-top: 0.2rem;
    background-image: url(../imgs/300-580.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.5rem auto;
}

.company-culture-listItem {
    display: flex;
    margin-bottom: 0.2rem;
    font-size: 0;
}

.company-culture-listitemSequence {
	position: relative;
	top: 0.02rem;
    width: 0.3rem;
    height: 0.3rem;
    background-image: url(../imgs/60-60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 0.24rem;
    font-family: FZYaSong-B-GBK;
    font-weight: 400;
    line-height: 0.3rem;
    text-align: center;
    color: #DA3021;
    text-transform: uppercase;
}

.company-culture-listItemInfo {
    flex: 1;
    margin-left: 0.1rem;
}

.company-culture-listItemTitle {
    font-size: 0.13rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #262626;
}

.company-culture-listItemText {
    font-size: 0.1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.17rem;
    color: #666666;
}

/* 品牌荣誉 */
.brand-honor {
    padding: 0.35rem 0.12rem;
    background-color: #F7F7F7;
}

.brand-honor-banner {
    margin-top: 0.2rem;
    height: 5.45rem;
}

.brand-honor-banner .swiper-slide {
    overflow: hidden;
}

.brand-honor-bannerItem {
    float: left;
    margin-bottom: 0.1rem;
    width: 1.7rem;
    height: 1.6rem;
    background-color: #fff;
}

.brand-honor-bannerItem:nth-child(2n + 1) {
    margin-right: 0.1rem;
}

.brand-honor-bannerItemImg {
    width: 100%;
    height: 1.2rem;
    object-fit: cover;
}

.brand-honor-bannerItemText {
    height: 0.4rem;
    font-size: 0.15rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.4rem;
    text-align: center;
    color: #262626;
}

.brand-honor-bannerPagination .swiper-pagination-bullet-active {
    background-color: #DA3021;
}